In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pylab as plt
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
from plotly import tools
import scipy.stats as stats

In [2]:
plotly.tools.set_credentials_file(username='alelopes', api_key='ZETQxILVg72WbsKtxKyy')

In [36]:
pd.options.mode.chained_assignment = None  # default='warn'

### Reading the data

In [3]:
!ls

BankMarketingAnalysis.ipynb

In [5]:
bank = pd.read_csv("../data/bank-full.csv",sep=";",dtype='category')

In [6]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [8]:
bank['age']=bank['age'].astype("int32")
bank['duration']=bank['duration'].astype("int32")
bank['campaign']=bank['campaign'].astype("int32")
bank['pdays']=bank['pdays'].astype("int32")
bank['previous']=bank['previous'].astype("int32")
bank['balance']=bank['balance'].astype("int32")

## First Question

In [9]:
jobs_and_loans = bank[['job','loan','housing']].copy()
jobs_and_loans['loan']=jobs_and_loans['loan'].eq('yes').mul(1)
jobs_and_loans['housing']=jobs_and_loans['housing'].eq('yes').mul(1)
jobs_and_loans['counts'] = 1
jobs_and_loans['loans'] = jobs_and_loans['loan'] | jobs_and_loans['housing'] 
agg=jobs_and_loans.groupby('job').sum()

In [11]:
data = [go.Bar(x=agg.index.get_level_values(0),
            y=agg.loans,name='People with Any kind of Loan'),
       go.Bar(x=agg.index.get_level_values(0),
            y=agg.counts,name='All Contacted People'),
       ]
layout = go.Layout(
    title='People Contacted with Loans and All Contacted by Jobs',
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='first-plot')

In [12]:
data = [go.Bar(x=agg.index.get_level_values(0),
            y=agg.loans/agg.counts,name='Loans/All')
       ]
layout = go.Layout(
    title='Ratio of people with loan X all contacted people',
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig,filename='second_plot')

In [16]:
data = [go.Bar(x=agg.index.get_level_values(0),
            y=agg.loan,name='Loan'),
        go.Bar(x=agg.index.get_level_values(0),
            y=agg.housing,name='Housing Loan')
       ]
layout = go.Layout(
    title='Types of Loans by Job',
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig,filename='third')

## Second Question

In [17]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [18]:
previous_contacts = bank[['previous','campaign','y']].copy()

In [19]:
previous_contacts.groupby(['y']).describe()

    campaign                                               previous            \
       count      mean       std  min  25%  50%  75%   max    count      mean
y
no   39922.0  2.846350  3.212767  1.0  1.0  2.0  3.0  63.0  39922.0  0.502154
yes   5289.0  2.141047  1.921826  1.0  1.0  2.0  3.0  32.0   5289.0  1.170354


          std  min  25%  50%  75%    max
y
no   2.256771  0.0  0.0  0.0  0.0  275.0
yes  2.553272  0.0  0.0  0.0  1.0   58.0

In [20]:
previous_contacts['previous']=previous_contacts.previous>0

In [21]:
agg_prev_y =previous_contacts.groupby(['y','previous'],as_index=False).count()

In [22]:
agg_prev_y

     y  previous  campaign
0   no     False     33570
1   no      True      6352
2  yes     False      3384
3  yes      True      1905

In [23]:
agg_prev_y[agg_prev_y['y']=='no']

    y  previous  campaign
0  no     False     33570
1  no      True      6352

In [24]:
agg_prev_y[agg_prev_y['y']=='yes']

     y  previous  campaign
2  yes     False      3384
3  yes      True      1905

In [25]:
ratios=[previous_contacts.groupby(['y','previous']).count().campaign[1]/previous_contacts.groupby(['y','previous']).count().campaign[0:2].sum(),previous_contacts.groupby(['y','previous']).count().campaign[3]/previous_contacts.groupby(['y','previous']).count().campaign[2:4].sum()]

In [27]:
data = [go.Bar(x=['Never Contacted','Previously Contacted'],
            y=agg_prev_y[agg_prev_y['y']=='no'].campaign,name='Subscribed'),
        go.Bar(x=['Never Contacted','Previously Contacted'],
            y=agg_prev_y[agg_prev_y['y']=='yes'].campaign,name='Not Subscribed')
        
               ]
layout = go.Layout(
    title='Subscribed/Not Subscribed X Never Contacted/Contacted in Previous Campaigns',
)
fig = go.Figure(data=data, layout=layout)

py.iplot(fig,filename='fourth')

### Third

In [50]:
campaign_y = bank[['campaign','y']].copy()

In [51]:
campaign_y.groupby('y').quantile([0.6,0.7,0.8,0.9,0.95,0.98])

          campaign
y
no  0.60       2.0
    0.70       3.0
    0.80       4.0
    0.90       6.0
    0.95       8.0
    0.98      13.0
yes 0.60       2.0
    0.70       2.0
    0.80       3.0
    0.90       4.0
    0.95       5.0
    0.98       8.0

In [52]:
excluding_outliers=campaign_y[campaign_y.campaign<13]
excluding_outliers.campaign=excluding_outliers.campaign.astype('category')
positive_campaign=excluding_outliers[excluding_outliers['y']=='yes'].groupby('campaign').count()
negative_campaign=excluding_outliers[excluding_outliers['y']=='no'].groupby('campaign').count()

In [54]:
trace1 = go.Scatter(x=positive_campaign.index.get_level_values(0),
            y=positive_campaign.y,name='subscribed',mode = 'lines+markers')


trace2 = go.Scatter(x=negative_campaign.index.get_level_values(0),
            y=negative_campaign.y,name='not subscribed',mode = 'lines+markers')

trace3=go.Scatter(x=negative_campaign.index.get_level_values(0),
            y=positive_campaign.y/(negative_campaign.y+positive_campaign.y),name='ratio',mode = 'lines+markers',yaxis='y2',
                      line = dict(
        color = ('rgb(205, 12, 24)'),
        width = 4
        )
                  )
        
       
fig = tools.make_subplots(rows=1, cols=2,subplot_titles=('Subscribed/Not by number of contact', 'Ratio of y True by y for Contacts'))

fig.append_trace(trace1, 1, 1)
fig.append_trace(trace2, 1, 1)
fig.append_trace(trace3, 1, 2)

fig['layout'].update(height=600, width=800, title='Subscribed and Not Subscribed Counts and Ratio ')
py.iplot(fig, filename='subplot')

This is the format of your plot grid:
[ (1,1) x1,y1 ]  [ (1,2) x2,y2 ]

## Forfh

In [55]:
poutcome_y = bank[['poutcome','y']].copy()

In [56]:
y_no_previous = poutcome_y[poutcome_y.y=='no'].poutcome

In [57]:
y_no_previous.value_counts()

unknown    33573
failure     4283
other       1533
success      533
Name: poutcome, dtype: int64

In [58]:
y_yes_previous = poutcome_y[poutcome_y.y=='yes'].poutcome

In [59]:
y_no_previous.cat.categories.tolist()#index.get_level_values(0)

['failure', 'other', 'success', 'unknown']

In [61]:
trace1 = go.Pie(
    labels=y_no_previous.cat.categories.tolist(),
    values=y_no_previous.value_counts(),
    domain={"x": [0, .48]},
#    text=["lala"],
#    textinfo="text"
    name='y=0'
    
)

trace2 = go.Pie(
    labels=y_no_previous.cat.categories.tolist(),
    values=y_yes_previous.value_counts(),
    domain={"x": [.52, 1]},
    name='y=1'
)

data = [trace1,trace2]
#layout = go.Layout(
#    barmode='stack'
#)
layout = go.Layout(
    annotations=[
        dict(
            x=0.08,
            y=1.05,
            showarrow=False,
            text='Not Subscribed X Previous Campaign Result',
            xref='paper',
            yref='paper'
        ),
        dict(
            x=0.92,
            y=1.05,
            showarrow=False,
            text='Subscribed X Previous Campaign Result',
            xref='paper',
            yref='paper'
        )

    ],
    autosize=True,
    margin=dict(
        b=100
    ),
    title='Subscribed/Not Subscribed by Previous Campaign Result.',
    height=600,
    width=950
)


fig = go.Figure(data=data,layout=layout)
py.iplot(fig, filename='stacked-bar')

## Fifth

In [65]:
for col in bank.columns:
    print(col,bank['default'].corr(bank[col],method= 'spearman'))

/home/alexandre/anaconda3/envs/dl-1.7/lib/python3.5/site-packages/scipy/stats/stats.py:245: RuntimeWarning:

The input array could not be properly checked for nan values. nan values will be ignored.

age -0.0146809906168
job -0.00525851036302
marital -0.00562699052198
education -0.0118859669748
default 1.0
balance -0.167738798338
housing -0.00602521835625
loan 0.0772342410792
contact 0.0136265867104
day 0.0119069233456
month 0.00605396082525
duration -0.00710002946216
campaign 0.0142648902159
pdays -0.0380528860956
previous -0.039278770509
poutcome 0.0386877580913
y -0.0224189658908

In [73]:
n_table = bank[['default','balance']].copy()

In [92]:
trace0=go.Box(y=n_table[n_table.default=="yes"].balance
             ,    name = "Balance for Default = True",
    jitter = 0.3,
    boxmean=True,
    boxpoints = False,
    marker = dict(
        color = 'rgb(7,40,89)'),
    line = dict(
        color = 'rgb(7,40,89)'),
    yaxis = "y"
)
trace1=go.Box(y=n_table[n_table.default=="no"].balance,             
           name = "Balance for Default = False",
           jitter = 0.3,
           boxmean=True,
           boxpoints = False,
           marker = dict(
           color = 'rgb(107,174,214)'),
           line = dict(
           color = 'rgb(107,174,214)'),
           yaxis = "y"
)

layout = go.Layout(
    width = 800,
    height = 500,
    
    yaxis = dict(
      anchor = "y",
      range=[-1000,1500]
    )
)
    
data = [trace0,trace1]
fig = go.Figure(data=data, layout=layout)

py.iplot(fig,filename='box-plot')

/home/alexandre/anaconda3/envs/dl-1.7/lib/python3.5/site-packages/plotly/plotly/plotly.py:233: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

## Sixth

In [183]:
for col in n_table.columns:
    print(col,n_table['default'].corr(n_table[col],method= 'spearman'))

default 1.0
balance -0.0494805240682

/home/alexandre/anaconda3/envs/dl-1.7/lib/python3.5/site-packages/scipy/stats/stats.py:245: RuntimeWarning:

The input array could not be properly checked for nan values. nan values will be ignored.

In [167]:
for col in bank.columns:
    print(col,bank['housing'].corr(bank[col],method= 'spearman'))

/home/alexandre/anaconda3/envs/dl-1.7/lib/python3.5/site-packages/scipy/stats/stats.py:245: RuntimeWarning:

The input array could not be properly checked for nan values. nan values will be ignored.

age -0.15434020548
job -0.131364144171
marital -0.0170466399999
education -0.0943944346027
default -0.00602521835625
balance -0.0682919560213
housing 1.0
loan 0.0413228660413
contact 0.178191435857
day -0.0484994266708
month 0.265319913509
duration 0.0051871062652
campaign -0.0378067792573
pdays 0.0809770393243
previous 0.0620874304328
poutcome -0.074550664124
y -0.139172702498

In [278]:
la=[10,300,100,100,500,20,30]

In [299]:
la=['fe','f','fe','f','fe']

In [279]:
lo=['no','yes','yes','yes','yes','no','no']

In [300]:
lo=['no','yes','yes','yes','yes']

In [301]:
pd.Series(la).corr(pd.Series(lo),method='spearman')

/home/alexandre/anaconda3/envs/dl-1.7/lib/python3.5/site-packages/scipy/stats/stats.py:245: RuntimeWarning:

The input array could not be properly checked for nan values. nan values will be ignored.

-0.40824829046386302